@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.input-search{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-align: center;
    margin-top: 1rem;
}

.news-form{
    display: flex;
    justify-content: center;
}